iframe {
    align: center;
}

body {
    background-color: black;

}

a {
	text-decoration: none;
	color: #C1DA08;
	font-family: Verdana, sans-serif;
}

span {
	font-weight: bold;
	font-size: 18px;
    color: #521D4E;
}

h3 {
	text-decoration: none;
	color: #C1DA08;
	font-family:Verdana, Tahoma, sans-serif;

}

p {
	text-decoration: none;
	font-size: 14px;
	color: #C1DA08;
	font-family:Verdana, Tahoma, sans-serif;

}
.center {
		
	margin: auto;
	display: block;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    background-color:#521D4E;
    text-decoration: none;
	color: #C1DA08;
	font-family: Verdana, sans-serif;
	
}	

#story {

	text-align: center;
}

}
