iframe {
    align: center;
}

body {
    background-color: black;

}

a {
	text-decoration: none;
	color: #C1DA08;
	font-family: Verdana, sans-serif;
}

span {
	font-weight: bold;
	font-size: 18px;
    color: #521D4E;
}

button {
	margin: 10px;
	background-color: #521D4E;
	height: 25px;
	width: 100px;
	margin: center;
	display: inline-block;


}

