iframe {
    align: center;
}

body {
    background-color: black;

}

a {
	text-decoration: none;
	color: #C2DA09;
	font-family: Verdana, sans-serif;
}

span {
	font-weight: bold;
	font-size: 18px;
    color: #521D4E;
}

.button {
	margin: 10px;
	background-color: #521D4E;
	margin: center;

}

