table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    background-color:#521D4E;
    text-decoration: none;
	color: #C1DA08;
    font-family: Verdana, sans-serif;
}
    
body {
    background-color: black;
}